{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/create_record.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
            <h2>新建记录</h2>
            <form action="{% url 'create_record' %}" class="form-horizontal" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {% if field.label == 'Captcha' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-7" style="text-align: left">
                        {{ field }}
                    </div>
                </div>
                <p style="text-align:center">{{ field.errors.as_text }}</p>
                {% else %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-7">
                        {{ field }}
                    </div>
                </div>
                <p style="text-align:center">{{ field.errors.as_text }}</p>
                {% endif %}
                {% empty %}
                <p>没有内容</p>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button class="btn btn-primary" id="submit" type="submit">提交</button>
                    </div>
                </div>
            </form>
    </div>   
</div>
{% endblock %}

