{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}详细信息{% endblock %}

{%  block head%}
<link rel="stylesheet" href="{%static 'css/dataTables.bootstrap.min.css'%}">
<style>
    body {
        font-family: 宋体
    }
    th {
        min-width: 90px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container table-responsive">
    <h1 style="text-align:center">密码管理</h1>
    <a class="btn btn-default" href="{% url 'create_record' %}">新建项目</a>
    <table class="table table-striped" id='table'>
        <thead>
            <tr>
                <th>名称</th>
                <th>IP地址</th>
                <th>用户名</th>
                <th>密码</th>
                <th>应用登录名</th>
                <th>应用登录密码</th>
                <th>最后修改时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td name='title'>{{ record.title }}</td>
                <td name='ip'>{{ record.ip }}</td>
                <td name='username'>{{ record.username | decrypt_tag:key}}</td>
                <td name='pw'>{{ record.pw | decrypt_tag:key}}</td>
                <td name='app_username'>{{ record.app_user_name | decrypt_tag:key}}</td>
                <td name='app_pw'>{{ record.app_pw | decrypt_tag:key }}</td>
                <td>{{ record.update_time|date:"Y/m/d" }} {{ record.update_time|time:"H:i" }}</td>
                <td>{{ record.note }}</td>
                <td>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" type="button" data-id="{{ record.id }}" name="edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" type="button" data-id="{{ record.id }}" name="delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            {% empty %}
            <p>没有密码</p>
            {% endfor %}
        </tbody> 
    </table>
</div>
<!-- 弹框 -->
<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">修改记录信息</h4>
        </div>
        <div class="modal-body">
         ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" name="submit">确定</button>
        </div>
      </div>
    </div>
  </div>
  {% csrf_token %}
{% endblock %}

{% block script %}
<script src="{%static 'js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'js/dataTables.bootstrap.min.js'%}"></script>
{% endblock %}