{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}信息记录{% endblock %}

{%  block head%}
<link rel="stylesheet" href="{%static 'css/dataTables.bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}

{% block content %}
<div class="container table-responsive">
    <!-- <h3 style="text-align:center">服务器及业务应用信息</h3> -->
    <table class="table table-bordered" id='table'>
        <thead>
            <tr>
                <th>名称</th>
                <th>IP地址</th>
                <th>最后修改时间</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.title }}</td>
                <td>{{ record.ip }}</td>
                <td>{{ record.update_time|date:"Y/m/d" }} {{ record.update_time|time:"H:i" }}</td>
                <td>{{ record.note }}</td>
            </tr>
            {% empty %}
            <p>没有密码</p>
            {% endfor %}
        </tbody>
        
    </table>
</div>

{% endblock %}

{% block script %}
<script src="{%static 'js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'js/dataTables.bootstrap.min.js'%}"></script>
<script>
$(function () {
    $('#table').DataTable({
        language: {
            search: "搜索:",
            "oPaginate": {
                "sPrevious": "上一页",
                "sNext": "下一页",
            },
        },
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : false,
      'info'        : false,
      'iDisplayLength': 5,
    })
})
</script>

{% endblock %}