{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}详细信息{% endblock %}

{%  block head%}
<link rel="stylesheet" href="{%static 'css/dataTables.bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}

{% block content %}
<div class="container table-responsive">
    <table class="table table-bordered" id='table'>
        <thead>
            <tr>
                <th>名称</th>
                <th>IP地址</th>
                <th>用户名</th>
                <th>密码</th>
                <th>应用登录名</th>
                <th>应用登录密码</th>
                <th>最后修改时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr id={{ record.id }}>
                <td class='title'>{{ record.title }}</td>
                <td class='ip'>{{ record.ip }}</td>
                <td class='username'>{{ record.username | decrypt_tag:key}}</td>
                <td class='pw'>{{ record.pw | decrypt_tag:key}}</td>
                <td class='app_username'>{{ record.app_username | decrypt_tag:key}}</td>
                <td class='app_pw'>{{ record.app_pw | decrypt_tag:key }}</td>
                <td>{{ record.update_time|date:"Y/m/d" }} {{ record.update_time|time:"H:i" }}</td>
                <td class='note'>{{ record.note }}</td>
                <td>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" type="button" data-id="{{ record.id }}" name="edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" type="button" data-id="{{ record.id }}" name="delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            {% empty %}
            <p>没有密码</p>
            {% endfor %}
        </tbody> 
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{%static 'js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'js/dataTables.bootstrap.min.js'%}"></script>
<script src="{% static 'js/my_js_view_detail.js' %}"></script>
{% endblock %}